<!--  Hold Order Detail -->
<form [formGroup]="formGroup"  novalidate>
  <ion-list>
   
   
    <ion-item>
      <ion-label>
       id
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="id"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       facebook_app_id
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="facebook_app_id"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       address
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="address"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       state
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="state"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       country
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="country"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       contact_us_email
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="contact_us_email"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       latitude
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="latitude"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       longitude
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="longitude"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       phone_no
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="phone_no"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       fcm_android_sender_id
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="fcm_android_sender_id"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       lazzy_loading_effect
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="lazzy_loading_effect"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       new_product_duration
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="new_product_duration"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       notification_text
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="notification_text"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       notification_title
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="notification_title"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       notification_duration
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="notification_duration"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       currency_symbol
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="currency_symbol"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       cart_button
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="cart_button"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       footer_button
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="footer_button"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       app_name
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="app_name"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       home_style
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="home_style"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       category_style
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="category_style"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       site_url
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="site_url"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       intro_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="intro_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       my_orders_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="my_orders_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       news_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="news_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       wish_list_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="wish_list_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       shipping_address_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="shipping_address_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       about_us_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="about_us_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       contact_us_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="contact_us_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       edit_profile_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="edit_profile_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       package_name
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="package_name"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       setting_page
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="setting_page"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       admob
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="admob"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       ad_unit_id_banner
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="ad_unit_id_banner"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       ad_unit_id_interstitial
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="ad_unit_id_interstitial"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       google_analytic_id
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="google_analytic_id"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       rate_app
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="rate_app"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       share_app
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="share_app"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       facebook_login
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="facebook_login"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       google_login
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="google_login"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       default_notification
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="default_notification"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       onesignal_app_id
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="onesignal_app_id"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       onesignal_sender_id
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="onesignal_sender_id"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       ios_admob
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="ios_admob"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       ios_ad_unit_id_banner
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="ios_ad_unit_id_banner"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       ios_ad_unit_id_interstitial
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="ios_ad_unit_id_interstitial"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       app_icon_image
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="app_icon_image"></ion-input>
     
     
    </ion-item>
   
   
  </ion-list>
</form>
<ion-button [disabled]="!formGroup.valid" block tappable (click)="submitForm()">Save</ion-button>