<!--  Hold Order Detail -->
<form [formGroup]="formGroup"  novalidate>
  <ion-list>
   
   
    <ion-item>
      <ion-label>
       id
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="id"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       uid
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="uid"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       login
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="login"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       password
      </ion-label>
     
     

      <ion-input text-right type="password"
        formControlName="password"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       state_id
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="state_id"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       country_id
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="country_id"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       lang
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="lang"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       name
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="name"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       active
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="active"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       mobile
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="mobile"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       phone
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="phone"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       image
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="image"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       birthdate
      </ion-label>
     
     
     
        <ion-datetime formControlName="birthdate" displayFormat="DD/MM/YYYY H:mm" min="1920"
          max="2200">
        </ion-datetime>
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       lat
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="lat"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       long
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="long"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       email
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="email"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       gender
      </ion-label>
     
     

      <ion-input text-right type="text"
        formControlName="gender"></ion-input>
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       credit
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="credit"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       debit
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="debit"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       credit_limit
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="credit_limit"></ion-input>
     
     
     
    </ion-item>
   
   
   
    <ion-item>
      <ion-label>
       property_product_pricelist
      </ion-label>
     
      <!--  pattern added for iOS compatibilty -->
      <ion-input text-right type="number" pattern="[0-9]*"
        formControlName="property_product_pricelist"></ion-input>
     
     
     
    </ion-item>
   
   
   
   
  </ion-list>
</form>
<ion-button [disabled]="!formGroup.valid" block tappable (click)="submitForm()">Save</ion-button>