<ion-card tappable (click)="select(resPartner)">

  <ion-card-header>{{resPartner.id}}
  </ion-card-header>


 
 
  <ion-item>
    {{resPartner.id}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.uid}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.login}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.password}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.state_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.country_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.lang}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.name}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.active}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.mobile}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.phone}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.image}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.birthdate}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.lat}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.long}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.email}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.gender}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.credit}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.debit}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.credit_limit}}
  </ion-item>
 
 
 
  <ion-item>
    {{resPartner.property_product_pricelist}}
  </ion-item>
 
 
 
 

</ion-card>