<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="back-button" color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-row>

        <ion-col col-12>
          <ion-searchbar>
          </ion-searchbar>

        </ion-col>


      </ion-row>
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'PULL_TO_REFRESH'|translate}}"
      refreshingSpinner="lines" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <span *ngFor="let saleOrderLine of saleOrderLines$ | async ">
    <div *ngIf='saleOrderLine'>
      <sale-order-line-item [saleOrderLine]='saleOrderLine'
        (objEmitter)="itemSelected(saleOrderLine)">
      </sale-order-line-item>

    </div>
  </span>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="{{ 'LOADING' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showRecordDetail()">
      <ion-icon name="add" color="secondary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title> {{'MY_CART'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding grid-empty" *ngIf="(cart$| async)?.length == 0">
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <ion-icon name="basket"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <h4>{{'YOUR_CART_IS_EMPTY'|translate}}</h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <h5>{{'CONTINUE_SHOPPING'|translate}}</h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <ion-button color="secondary" (click)="openProductsPage()">{{'EXPLORE'|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <span *ngFor="let cart of cart$| async">
  <sale-order-line-cart-item 
  [cart]="cart"
  (removeFromCart)="quantityMinus($event)"
  (addToCart)="quantityPlus($event)"
  (viewProduct)="viewProduct($event)"
  (removeAllTheCart)="removeAllTheCart($event)"
  ></sale-order-line-cart-item>
  </span>
  <!-- <ion-card class="ion-padding" *ngFor="let cart of cart$| async">
    <ion-card-header class="ion-no-padding">
      <ion-card-subtitle>
        <h3> {{cart.product.name}}
        </h3>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="3">
            <ion-img src="{{config.imgUrl+product.image}}"></ion-img>
          </ion-col>
          <ion-col class="col-price" size="5">
            <p>{{'PRICE' |translate}}</p>
            <p>{{'QUANTITY' |translate}}</p>
            <p><b>{{'SUB_TOTAL' |translate}}</b></p>
          </ion-col>
          <ion-col class="col-price-ori" size="4">
            <p class="para-del">{{cart.product.list_price| curency}}</p>
            <div class="div-btn">
              <ion-button size="small" fill="outline" (click)="qunatityMinus(product)">
                <p>-</p>
              </ion-button>
              <span>{{product.customers_basket_quantity}}</span>
              <ion-button class="add-btn" size="small" fill="outline" (click)="qunatityPlus(product)">
                <p>+</p>
              </ion-button>
            </div>
            <br /><br />
            <p class="para-price-ori">{{product.total | curency}}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let att of product.attributes">
          <ion-col size="6">{{att.products_options_values+'&nbsp;'+att.products_options}}&nbsp;:</ion-col>
          <ion-col size="6">{{att.price_prefix +'&nbsp;'+ att.options_values_price+'&nbsp;'+config.currency}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2.5">
            <ion-button color="secondary" (click)="getSingleProductDetail(product.products_id)">{{'VIEW' | translate}}
            </ion-button>
          </ion-col>
          <ion-col size="8.5">
            <ion-button fill="clear" color="danger" (click)="removeCart(product.cart_id);">{{'REMOVE' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->


</ion-content>

<ion-footer>
  <ion-card class="ion-padding">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <strong> {{'TOTAL'|translate}}</strong>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <strong>{{total| curency}}</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" solid block color="secondary" (click)="proceedToCheckOut()">
    {{'PROCEED'|translate}}
  </ion-button>
</ion-footer>