ion-content {
  // For image design
  ion-avatar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
  }

  // For Form
  form {
    padding-top: 28px;
    ion-item {
      --padding-start: 0;
      --background: #fafafa;
      ion-label {
        color: gray;
      }
      &:nth-child(6) {
        height: 33px;
        ion-label {
          color: red;
        }
      }
    }
    p {
      font-size: 14px;
    }
    ion-button {
      --background: #557f5f;
      text-transform: uppercase;
      color: #fafafa;
    }
    .register{
      text-transform: uppercase;
    color: rgb(255 ,255 ,255) !important;
    --background: rgb(162 ,177 ,37) !important;
    --border-radius: 24px !important;
    height: 40px;
    margin-top: 25px;
    }
  }

  .next{
    color: white;
    margin-top: 25px;
    --background: rgb(162 ,177 ,37) !important;
      --border-radius: 24px !important;
  }

  .login{
    text-align: center !important;
    padding-top: 30px !important;
    font-weight: 11px !important;
  }

  .square{
    width: 43%;
    margin: 10px;
    height: 150px;
    --background: transparent;
    color: rgb(112 ,112 ,112);
    --border-radius: 20px;
  }

  .selected_square{
    width: 43%;
    margin: 10px;
    height: 150px;
    --background: rgb(162 ,177 ,37) !important;
    color: rgb(255 ,255 ,255);
    --border-radius: 20px;
  }

  figcaption{
    margin-top: 20px;
  }
}
