<ion-header>
  <ion-toolbar style="background-color:white">
   
      <ion-img src="assets/cart.png"  style="height: 30px" alt="logo" slot="end"></ion-img>
    <ion-searchbar  style="width: 300px" placeholder="{{'Search'|translate}}" >
    </ion-searchbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" class="home-page-1 ion-padding-bottom">
  <!-- <app-banner></app-banner> -->
  <!-- <product-main-slider-list></product-main-slider-list> -->
  <!-- Flash sale items products -->

  <!-- <div class="module" *ngIf="shared.flashSaleProducts.length!=0">
    <ion-row class="top-icon-header">
      <ion-button fill="clear">
        <ion-icon slot="start" name="md-clock"></ion-icon>
        {{'Flash Sale'|translate}}
      </ion-button>
    </ion-row>

    <ion-slides #recentSlider [options]="sliderConfig">
      <ion-slide *ngFor="let p of shared.flashSaleProducts">
        <app-product [data]="p" [type]="'flash'"></app-product>
      </ion-slide>
    </ion-slides>
  </div> -->
  <!-- <ion-segment [(ngModel)]="segments">
    <ion-segment-button value="top_sold" (click)="changeTab('top_sold')" >{{ 'TOP_SOLD' | translate }}</ion-segment-button>
    <ion-segment-button value="new" (click)="changeTab('new')">{{ 'NEW' | translate }} </ion-segment-button>
    <ion-segment-button value="most_liked" (click)="changeTab('most_liked')"> {{ 'MOST_LIKED' | translate }}</ion-segment-button>
  </ion-segment> -->
  <!-- <div [ngSwitch]="segments"> -->

    <!-- first swipe slider -->
    <!-- <ion-slides *ngSwitchCase="'top_sold'" [options]="sliderConfig">
      <ion-slide *ngFor="let p of topSoldProducts$ | async ">
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-slide>
      <ion-slide>
        <ion-button fill="clear" (click)="openProducts('top seller')"> {{'Shop More'| translate}}
          <ion-icon name="arrow-redo-circle-outline"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides> -->

    <!-- 2nd swipe slider -->
    <!-- <ion-slides *ngSwitchCase="'new'" [options]="sliderConfig">
      <ion-slide *ngFor="let p of (newProducts$ | async)">
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-slide>
      <ion-slide>
        <ion-button fill="clear" (click)="openProducts('new')"> {{'Shop More'| translate}}
          <ion-icon name="arrow-redo-circle-outline"></ion-icon>
        </ion-button>
      </ion-slide> -->

    <!-- </ion-slides> -->

    <!-- 3rd swipe slider -->
    <!-- <ion-slides *ngSwitchCase="'most_liked'" [options]="sliderConfig">
      <ion-slide *ngFor="let p of (mostLikedProducts$ | async)">
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-slide>
      <ion-slide>
        <ion-button fill="clear" (click)="openProducts('most liked')"> {{'Shop More'| translate}}
          <ion-icon name="arrow-redo-circle-outline"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides> -->

  <!-- </div> -->

  <!-- recently view Heading -->
  <!-- <ion-row *ngIf="shared.recentViewedProducts.length!=0" class="top-icon-header">
    <ion-button fill="clear">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      {{'Recently Viewed'|translate}}
    </ion-button>
  </ion-row> -->


  <!-- recently viewed swipe slider -->
  <!-- <ion-slides #recentSlider [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.recentViewedProducts">
      <app-product [data]="p" [type]="'recent'"></app-product>
    </ion-slide>
  </ion-slides> -->

  <!-- For Vendor List -->
  <!--<app-vendor-list></app-vendor-list>-->

  <!-- for scrollable segment and all products -->
  <app-sliding-tabs [type]="'text'"></app-sliding-tabs>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" *ngIf="scrollTopButton">
  <ion-fab-button color="secondary" (click)="scrollToTop()">
    <ion-icon name="arrow-up-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>