<ion-header>
  <ion-toolbar>
   
    <ion-title style="text-align: center;">
      <h1>My Products</h1>
      <!-- <ion-img src="assets/logo_header.png" alt="logo"></ion-img> -->
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
  <ion-list>
    <ion-card *ngFor="let productTemplate of productTemplates$ | async " class="animate-item">
      <ion-text>
        <h2>{{productTemplate.name }}</h2>
      </ion-text> 
      <img *ngIf="productTemplate.image_medium" [src]="'data:image/jpeg;base64,'+productTemplate.image_medium" />      
      <img *ngIf="!productTemplate.image_medium" src="assets/no_product_image.jpg" alt="" />
      <ion-text>
        <div class="div-btn">
          <ion-button size="small" fill="outline" (click)="qunatMinus(productTemplate)">
            <p>-</p>
          </ion-button>
          <span>{{customers_basket_quantity[productTemplate.id]}}</span>
          <ion-button class="add-btn" size="small" fill="outline" (click)="qunatPlus(productTemplate)">
            <p>+</p>
          </ion-button>
        </div>
      </ion-text>
    </ion-card>
  </ion-list>
</ion-content>