ion-list{
    padding-top: 0;
    ion-card{
        text-align: center;
        height: 200px;
        img{
            // filter: brightness(0.6);
            height: 120px
        }
        ion-text{
            font-size: var(--heading-font-size);
            h2 {
                margin-top: 0px;
                font-size: 20px;
            }

        }
        // ion-text{
        //     text-align: center;
        //     width: 100%;
        //     color: white;
        //     font-weight: bold;
        //     height: 250px;
        //     h2{
        //         margin-top: 25px;
        //         margin-bottom: 5px;
        //         font-size: var(--heading-font-size);
        //         font-weight: bold;
        //     }
        //     p{
        //         font-size: var(--sub-heading-font-size);
        //         margin-top: 0;
        //     }
        // }
    }
}

.div-btn {
    ion-button {
      --color: var(--ion-color-primary);
      --border-color: var(--ion-color-primary);
      --border-radius: 0px;
      width: 10%;
      height: 25px;
      &:first-child {
        float: left;
        padding-left:80px;
        p {
          font-size: 35px;
        }
      }
      &:nth-child(3) {
        float: right;
        padding-right:100px;
        p {
          font-size: 20px;
        }
      }
    }
    span {
      z-index: 1;
    }
  }