<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> {{'Manager'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-no-padding">
    <p [innerHTML]="shared.aboutUs">
    </p>
  </ion-text>
  <ion-list>
    <ion-item (click)="showModal('products')" lines="full">
      {{"PRODUCTS"|translate}}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="showModal('productCategory')" lines="full">
      {{'PRODUCT_CATEGORY'|translate}}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>