<ion-card tappable (click)="select(config)">

  
  <ion-card-header>
    {{config.id}}
  </ion-card-header>
 
  <ion-item>
    {{config.id}}
  </ion-item>
 
  <ion-item>
    {{config.facebook_app_id}}
  </ion-item>
 
  <ion-item>
    {{config.address}}
  </ion-item>
 
  <ion-item>
    {{config.state}}
  </ion-item>
 
  <ion-item>
    {{config.country}}
  </ion-item>
 
  <ion-item>
    {{config.contact_us_email}}
  </ion-item>
 
  <ion-item>
    {{config.latitude}}
  </ion-item>
 
  <ion-item>
    {{config.longitude}}
  </ion-item>
 
  <ion-item>
    {{config.phone_no}}
  </ion-item>
 
  <ion-item>
    {{config.fcm_android_sender_id}}
  </ion-item>
 
  <ion-item>
    {{config.lazzy_loading_effect}}
  </ion-item>
 
  <ion-item>
    {{config.new_product_duration}}
  </ion-item>
 
  <ion-item>
    {{config.notification_text}}
  </ion-item>
 
  <ion-item>
    {{config.notification_title}}
  </ion-item>
 
  <ion-item>
    {{config.notification_duration}}
  </ion-item>
 
  <ion-item>
    {{config.currency_symbol}}
  </ion-item>
 
  <ion-item>
    {{config.cart_button}}
  </ion-item>
 
  <ion-item>
    {{config.footer_button}}
  </ion-item>
 
  <ion-item>
    {{config.app_name}}
  </ion-item>
 
  <ion-item>
    {{config.home_style}}
  </ion-item>
 
  <ion-item>
    {{config.category_style}}
  </ion-item>
 
  <ion-item>
    {{config.site_url}}
  </ion-item>
 
  <ion-item>
    {{config.intro_page}}
  </ion-item>
 
  <ion-item>
    {{config.my_orders_page}}
  </ion-item>
 
  <ion-item>
    {{config.manger_page}}
  </ion-item>

  <ion-item>
    {{config.news_page}}
  </ion-item>
 
  <ion-item>
    {{config.wish_list_page}}
  </ion-item>
 
  <ion-item>
    {{config.shipping_address_page}}
  </ion-item>
 
  <ion-item>
    {{config.about_us_page}}
  </ion-item>
 
  <ion-item>
    {{config.contact_us_page}}
  </ion-item>
 
  <ion-item>
    {{config.edit_profile_page}}
  </ion-item>
 
  <ion-item>
    {{config.package_name}}
  </ion-item>
 
  <ion-item>
    {{config.setting_page}}
  </ion-item>
 
  <ion-item>
    {{config.admob}}
  </ion-item>
 
  <ion-item>
    {{config.ad_unit_id_banner}}
  </ion-item>
 
  <ion-item>
    {{config.ad_unit_id_interstitial}}
  </ion-item>
 
  <ion-item>
    {{config.google_analytic_id}}
  </ion-item>
 
  <ion-item>
    {{config.rate_app}}
  </ion-item>
 
  <ion-item>
    {{config.share_app}}
  </ion-item>
 
  <ion-item>
    {{config.facebook_login}}
  </ion-item>
 
  <ion-item>
    {{config.google_login}}
  </ion-item>
 
  <ion-item>
    {{config.default_notification}}
  </ion-item>
 
  <ion-item>
    {{config.onesignal_app_id}}
  </ion-item>
 
  <ion-item>
    {{config.onesignal_sender_id}}
  </ion-item>
 
  <ion-item>
    {{config.ios_admob}}
  </ion-item>
 
  <ion-item>
    {{config.ios_ad_unit_id_banner}}
  </ion-item>
 
  <ion-item>
    {{config.ios_ad_unit_id_interstitial}}
  </ion-item>
 
  <ion-item>
    {{config.app_icon_image}}
  </ion-item>
 

</ion-card>