ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    ion-icon {
      zoom: 1.4;
    }
  }
}

// For image design
ion-img {
  height: 130px;
  // opacity: 0.1;
}

// For Form
form {
  padding-top: 28px;
  ion-item {
    --padding-start: 0;
    --background: #fafafa;
    ion-label {
      color: gray;
    }
    // &:nth-child(3) {
    //   height: 33px;
    //   ion-label {
    //     color: red;
    //   }
    // }
  }
  .submit {
    text-transform: uppercase;
    color: rgb(255 ,255 ,255) !important;
    --background: rgb(162 ,177 ,37) !important;
    --border-radius: 24px !important;
    height: 40px;
    margin-top: 25px;
  }
  
  .forgot{
    text-align: right;
    color: rgb(197, 197, 197) !important;
    font-size: 10px;
    margin-top: 14px;
  }
}

.register{
  text-align: center;
  padding-top: 60px;
  font-weight: 11px !important;
}

// For Login, Facebook, Register Buttons
ion-button {
  &:nth-child(4) {
    color: white;
    margin-top: 25px;
  --background: #3b5998;
  --border-radius: 24px !important;
  }
  &:nth-child(5) {
    color: black;
    margin-top: 20px;
    --border-color: black;
    --border-width: thin;
  }
}

