<ion-card tappable (click)="select(saleOrder)">

  <ion-card-header>{{saleOrder.id}}
  </ion-card-header>


 
 
  <ion-item>
    {{saleOrder.id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.client_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.name}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.amount_tax}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.amount_total}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.amount_untaxed}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.partner_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.invoice_ids}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.state}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrder.date_order}}
  </ion-item>
 
 
 
 
 
  <ion-item>
    {{saleOrder.note}}
  </ion-item>
 
 

</ion-card>