<!-- <ion-slide *ngFor="let b of shared.banners" class="ion-no-padding animate-item" (click)="bannerClick(b)"> -->
  <div *ngIf="!productMainSlider">
    <ion-skeleton-text animated style="height: 211px;">
    </ion-skeleton-text>
  </div>
  <img [src]="convertedImage"/>
<!-- </ion-slide> -->
<!-- <ion-card tappable (click)="select(productMainSlider)">

  <ion-card-header>{{productMainSlider.id}}
  </ion-card-header>


 
 
  <ion-item>
    {{productMainSlider.id}}
  </ion-item>
 
 
 
  <ion-item>
    {{productMainSlider.name}}
  </ion-item>
 
 
 
  <ion-item>
    {{productMainSlider.ks_main_slider_img}}
  </ion-item>
 
 
 
  <ion-item>
    {{productMainSlider.ks_main_slider_link}}
  </ion-item>
 
 
 
  <ion-item>
    {{productMainSlider.sequence}}
  </ion-item>
 
 

</ion-card> -->