<ion-header>
    <ion-toolbar>
     
      <ion-title>
        <ion-img src="assets/logo_header.png" alt="logo"></ion-img>
      </ion-title>
      
    </ion-toolbar>
  
    <ion-segment (ionChange)="segmentChanged($event)" scrollable>
      <ion-segment-button value="waiting" checked>
        <ion-label translate>WAITING</ion-label>
      </ion-segment-button>
      <ion-segment-button value="in_receiving">
        <ion-label translate>INـRECEIVING</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="pickedup">
        <ion-label translate>PICKEDUP</ion-label>
      </ion-segment-button>
  
      <ion-segment-button value="in_delivery">
        <ion-label translate>IN_DELIVERY</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label translate>COMPLETED</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  </ion-header>
  <ion-content class="ion-padding-bottom">
  
    <ion-list>
      <span *ngFor="let order of orders ">
  
        <app-order-item [order]="order"></app-order-item>
  
      </span>
  
    </ion-list>
  
  </ion-content>