<ion-card tappable (click)="select(saleOrderLine)">

  <ion-card-header>{{saleOrderLine.id}}
  </ion-card-header>


 
 
  <ion-item>
    {{saleOrderLine.id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.client_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.product_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.order_id}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.product_uom_qty}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.price_unit}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.discount}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.price_tax}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.price_total}}
  </ion-item>
 
 
 
  <ion-item>
    {{saleOrderLine.offer_id}}
  </ion-item>
 
 
 
 

</ion-card>